body {
    background-color: azure;
    overflow-y: scroll;
    padding-top: 60px;
    padding-bottom: 70px;
}

#header {
    padding-right: 20px;
}

#footer{
    padding-top: 12px;
    padding-left: 10px;
}

h2 {
    text-align: center;
}

.locationItems {
    text-align: center;
}

#locationTitle {
    text-align: center;
    padding-bottom: 30px;
}

#locationTitle a {
    text-decoration: underline;
    color: darkorange;
}

.locationCreateForm {
    text-align: center;
}

.navbar {
    background-color: #C0CCCC;
}

#registerStatement {
    color: red;
    font-weight: bold;
}

#newLocationIndex {
    margin-bottom: 20px;
    text-align:center;
}

body.modal-open div.modal-backdrop { 
    z-index: 0;
}

.modal-center {
    text-align: center;
}

#locationAddButtonView {
    display:block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hidden {
    visibility: hidden;
}

#mapDetails {
    float: right;
}