@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WindTurbine.Models.Location>
@using System.Security.Claims

@if (Model.Any())
{   <div id="locationTitle">
        <h3>@Html.ActionLink("Create a new location", "Create")</h3>
    </div>

    @foreach (var listLocation in Model)
    {   <div class="locationItems">
            <p>Name: @Html.DisplayFor(modelLocation => listLocation.Name)</p>
            <p>@Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })</p>
        </div>
        <hr />
    }
}

else
{
    <div id="locationTitle">
        <h3>@Html.ActionLink("Create a new location", "Create")</h3>
    </div>
    <div class="locationItems">
        <p>No locations have been added yet!</p>
    </div>
}