@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WindTurbine.Models.Location>
@using System.Security.Claims

<h2>Locations: </h2>
@if (Model.Any())
    {
        @foreach (var listLocation in Model)
        {
            <p>@Html.DisplayFor(modelLocation => listLocation.Name) | @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })</p>
            <hr />
        }
    }

else
    {
        <p>No locations have been added yet!</p>
    }
@Html.ActionLink("Create a new location", "Create")
