<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @using System.Security.Claims
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Account">Wind Turbine</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Locations">@User.GetUserName()</a></li>
                    <li>@await Html.PartialAsync("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
