@using System.Security.Claims

@if (User.IsSignedIn())
{
    @Html.ActionLink("Log Off", "LogOff", "Account")

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register")</li>
        <li>@Html.ActionLink("Log in", "Login")</li>
    </ul>
}