@model WindTurbine.ViewModels.LoginViewModel

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Login</h4>
            </div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {   <div class="modal-center">
                    @Html.LabelFor(m => m.UserName, new { @class = "hidden" })
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username" })
                    <br /><br />
                    @Html.LabelFor(m => m.Password, new { @class = "hidden" })
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                </div>
                <br />
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>