@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WindTurbine.Models.Location
@using System.Security.Claims

@if (User.IsSignedIn())
{   
     <!-- Button trigger modal -->
    <div class="buttonOverlay">
        <button id="newLocationIndex" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModalTitle">
            Add new location!
        </button>
    </div>

    <!-- Modal -->
    <div class="modal" fade" id="myModalTitle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add A New Location</h4>
                </div>
                <div class="modal-body" id="showModalForm">
                @Html.Partial("/Views/Shared/_AddLocationPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="homepageMap">
        <iframe src="https://embed.windyty.com/?45.514,-122.651,275,message,metric.wind.m/s" width="1368" height="570" frameborder="0"></iframe>
    </div>
}

else
{
    <h2 id="registerStatement"> You are currently not logged in. Register / Login to access our services.</h2>
}