@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WindTurbine.Models.Location
@using System.Security.Claims

@if (User.IsSignedIn())
{
    <h2>Locations</h2>

    <!-- Button trigger modal -->
    <button id="newLocationIndex" class="btn btn-success" data-toggle="modal" data-target="#myModalTitle">
        Add new location!
    </button>

    <!-- Modal -->
    <div class="modal" fade" id="myModalTitle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add A New Location</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Shared/_AddLocationPartial.cshtml")
                </div>
            </div>
        </div>
    </div>

    <div style="width:1500px;overflow:hidden;height:1000px;max-width:100%;">
    <div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=epicodus&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embed-map-code" rel="nofollow" href="https://www.hostingreviews.website" id="enable-map-info">HostingReviews</a>
    <style>
        #my-map-display img {
            max-width: none !important;
            background: none !important;
        }
    </style>
    </div>
    <script src="https://www.hostingreviews.website/google-maps-authorization.js?id=7a897d85-d19f-eafa-4ffd-5eb1edd69431&c=embed-map-code&u=1461363313" defer="defer" async="async"></script>
}

else
{
    <h2 id="registerStatement"> You are currently not logged in. Register / Login to access our services.</h2>
}












@*@if (Model.Any())
{   <div id="locationTitle">
        <h2 id="newLocationIndex">Your Locations</h2>
    </div>

    @foreach (var listLocation in Model)
    {   <div class="locationItems">
            <p>Name: @Html.DisplayFor(modelLocation => listLocation.Name)</p>
            <p>@Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })</p>
        </div>
        <hr />
    }
}

else
{
    <div id="locationTitle">
        <h3>Your locations</h3>
    </div>
    <div class="locationItems">
        <p>No locations have been added yet!</p>
    </div>
}*@